<h1 class="hidden">Here is the info page for user XX!</h1>
<div class="oneuser">
  <% userphoto = @user.photo.nil? ? "no_photo.png" : @user.photo %>
  <div class="photo"><%= image_tag("#{ userphoto }", size: "129") %></div>
  <div class="userandposts">      
    <div class="username"><%= @user.name %></div>
    <div class="postscounter">
      <% if @user == @current_user %>
        <%= link_to 'New Post', new_post_path %><br>
      <% end %>
      Number of posts: <%= @user.posts_counter %>
    </div>
  </div>
</div>
<div class="bio">
  <p>Bio:</p>
  <p><%= @user.bio %></p>
</div>
<div class="threeposts">
  <% @user.last_3_posts.each do |post| %>
    <div class="onepost">
      <div class="titlepost">
        <p><%= post.title %></p>
        <p><%= post.text.truncate(170) %></p>
      </div>
      <div class="commentslikes">
        Comments: <%= post.comments_counter %>, 
        Likes: <%= post.likes_counter %>
      </div>
    </div>
  <% end %>
</div>
<div class="button-wrapper">
  <div class="button-link">
    <%= link_to "See all posts", "/users/#{ @user.id }/posts" %>
  </div>
</div>