<h1 class="hidden">Here is the info page for user XX!</h1>
<div class="oneuser">
  <% userphoto = @user.photo.nil? ? "no_photo.png" : @user.photo %>
  <div class="photo"><%= image_tag("#{ userphoto }", size: "129") %></div>
  <div class="userandposts">      
    <div class="username"><%= @user.name %></div>
    <div class="postscounter">
      <% if @user == @current_user %>
        <%= link_to 'New Post', new_post_path %><br>
      <% end %>
      Number of posts: <%= @user.posts_counter %>
    </div>
  </div>
</div>
<div class="bio">
  <p>Bio:</p>
  <p><%= @user.bio %></p>
</div>
<div class="threeposts">
  <% @user.last_3_posts.each do |post| %>
    <div class="onepost">
      <div class="titlepost">
        <p><%= link_to "#{ post.title }", "/users/#{ @user.id }/posts/#{ post.id }" %></p>
        <p><%= post.text.truncate(170) %></p>
      </div>
      <div class="commentslikes">
        <div class="commentslikes">
          <div class="threelinks">
            <%= link_to 'New Comment', "/users/#{ @user.id }/posts/#{ post.id }/new_comment" %>&nbsp;
            |&nbsp;<%= button_to 'Like', "/users/#{ @user.id }/posts/#{ post.id }/like", { class: "buttonlink" } %>&nbsp;
            |&nbsp;<%= link_to "Delete", "/users/#{ @user.id }/posts/#{ post.id }/destroy", data: { 'turbo-method': :post, 'turbo-confirm': 'Are you sure?' } %>
          </div>
          Comments: <%= post.comments_counter %>, 
          Likes: <%= post.likes_counter %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="button-wrapper">
  <div class="button-link">
    <%= link_to "See all posts", "/users/#{ @user.id }/posts" %>
  </div>
</div>
<div class="mylinks">
  <div><%= button_to "Home", root_path, method: :get %></div>
  <div><%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false } %></div>
</div>
