<h1 class="hidden">Here is the list of posts for user XX!</h1>
<% flash.each do |type, msg| %>
  <div>
    <%= msg if type="success" %>
  </div>
<% end %>
<div class="oneuser">
  <% userphoto = @user.photo.nil? ? "no_photo.png" : @user.photo %>
  <div class="photo"><%= image_tag("#{ userphoto }", size: "129") %></div>
  <div class="userandposts">      
    <div class="username"><%= @user.name %></div>
    <div class="postscounter">
      <% if @user == @current_user %>
        <%= link_to 'New Post', new_post_path %><br>
      <% end %>
      Number of posts: <%= @user.posts_counter %>
    </div>
  </div>
</div>
<div class="allposts">
  <% @posts.each do |post| %>
    <div class="onepost">
      <div class="titlepost">
        <p><%= link_to "#{ post.title }", "/users/#{ @user.id }/posts/#{ post.id }" %></p>
        <p><%= post.text.truncate(170) %></p>
      </div>
      <div class="commentslikes">
        <%= link_to 'New Comment', "/users/#{ @user.id }/posts/#{ post.id }/new_comment" %>
         / <%= button_to 'Like', "/users/#{ @user.id }/posts/#{ post.id }/like" %><br>
        Comments: <%= post.comments_counter %>, 
        Likes: <%= post.likes_counter %>
      </div>
    </div>
    <% if post.comments != [] %>
      <div class="comments">
        <% post.last_5_comments.each do |comment| %>
            <%= User.find(comment.author_id).name %>: <%= comment.text %><br>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="button-wrapper">
  <div class="button-link">
    <%= link_to "Pagination", "/" %>
  </div>
</div>