<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div>Logged in as <strong><%= current_user.email %></strong> 
        <% if url_for!=new_post_path %>
          |&nbsp;<%= link_to 'New Post', new_post_path %></div>
        <% end %>
      <% end %>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </header>
    
    <%= yield %>

  </body>
</html>
